name: Metrics
on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }} # This is automatic, don't change it!
          
          base: "" # This clears the default GitHub stats
          plugin_wakatime: yes
          plugin_wakatime_token: ${{ secrets.WAKATIME_API_KEY }}
          plugin_wakatime_endpoint: https://hackatime.hackclub.com/api/v1
          plugin_wakatime_sections: time, projects, languages
          plugin_wakatime_days: 7
